@font-face {
    font-family: 'iran_sans_bold';
    src: url('../Fonts/iran_sans_bold.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_light';
    src: url('../Fonts/iran_sans_light.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_medi';
    src: url('../Fonts/iran_sans_medi.woff') format('woff');
}
*{
    font-family:iran_sans_light;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /*text-transform: uppercase;*/
    transition: all .2s linear;
}

/* end featured  */

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .featureIcon {
    width: 50px;
    height: 50px;
  }

  .featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
  }

  .featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
  }
 
